*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #F7F8FA
}

header{
    padding: 20px;
    margin-bottom: 10%;
}

header, h1{
    background-color: white;
}

h1{
    display: inline-block;
}

button{
    text-transform: capitalize;
    border-radius: 5px;
    padding: 5px;
    border-color: white;
}
.task{
    background-color: #72A1F1;
    
}
.button-area{
    border: 1px white;
    border-bottom: 5px solid #F7F8FA;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 50px;
    padding-top: 15px; 
    padding-bottom: 10px;
}

h2{
    text-transform: capitalize;
}

.list-container{
    width: 80%;
    margin: auto;
    height: 100%;
    border: 1px black;
    background-color: white;
    padding: 50px;
}

.green{
    color: green;
    border: 1px solid green;
}

.red{
    color: red;
    border: 1px solid red;
}

.red, .green{
    border-radius: 50px;
    padding: 5px;
}

.tag-1{
    background-color: #72A1F1;
}
.tag-2{
    background-color: #9e5cee;
}

.tag-3{
    background-color: #7EC1A6;
}

.tag-4{
    background-color: #dfa600;
}

.tag-5{
    background-color: #c85da7;
}

.tag-6{
    background-color:#aed100;
}

.tag{
    padding: 10px;
    border-radius: 15px;
    color: white;
}

p{
    padding: 10px 10px 10px 0px;
}